/* General */
* {
    font-family: "monospace";
    box-sizing: inherit;
    <!-- outline: 2px solid red; -->
}

html {
    box-sizing: border-box;
}

body {
    width: 75vw;
    margin: 2.5vh auto;
}

ul,
ol {
    width: 75%;
    margin: auto auto;
}

img {
    width: 300px;
    height: auto;
    display: block;
    margin: auto auto;
}

p {
    text-align: center;
}

h1,
h2,
h3 {
    font-family: "Lucida Console", monospace;
    text-align: center;
}

/* index.html */
#index-body {
    padding-top: 1vh;
    background-color:bisque;
    height: 95vh;
}

/* chai-tea-mix.html */
.chai-tea {
    color: #513315;
    background-color: #e5bf99;
}

.chai-tea h1,
.chai-tea h2 {
    background-color: #513315;
    color: #e5bf99;
}

/* vegetarian-moussaka.html */
.moussaka {
    color: hsl(120, 100%, 80%);
    background-color: hsl(120, 100%, 25%);
}

.moussaka h1,
.moussaka h2 {
    color: hsl(120, 100%, 25%);
    background-color: hsl(120, 100%, 80%);
}

/* vegetarian bibimbap.html */
.bibimbap {
    color: rgb(230, 115, 0);
    background-color: rgb(255, 204, 153);
}

.bibimbap h1,
.bibimbap h2 {
    color: rgb(255, 204, 153);
    background-color: rgb(230, 115, 0);
}